body {
  margin: 0;
  font-family:  Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: Arial, Helvetica, sans-serif !important;
  -moz-osx-font-smoothing: Arial, Helvetica, sans-serif !important;
  font-style: normal !important;
  color: #031D34 !important;
}

/*Pre Loader Section*/
.loader--section{
  width: 100%;
  height: 100vh;
  background-color: white;
}

.loader--section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Navbar*/
.navbar[data-bs-theme="light"] {
  --bs-navbar-color: black !important;
  background-color: #F0F0F5 !important;
  
}
#navbar-section-pages {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  width: 100%;
  font-stretch: expanded;
  word-wrap: break-word; 
}

.navbar-contact-us {
  display: flex !important;
  text-align: center !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  font-stretch: expanded;
  word-wrap: break-word;
  width: 20%; 
}

@media screen and (max-width: 992px) {
  .navbar-contact-us {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    background-color: whitesmoke;
    width: 100%;
  }
}

/*HERO SECTION CSS*/ 
.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F5;
  overflow: hidden;
}

.hero-section-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero-section-left-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  padding-top: 0rem;
}

.hero-section-header-container{
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.hero-section-text {
  margin-top: 1.9rem;
  display: flex;
}

.hero-section-text > p{
  writing-mode: vertical-rl;
  margin: 0;
  font-size:clamp(.2rem, 1.2vw, 2rem);
  letter-spacing: 8px;
  padding: 0;
  font-weight: bolder;
  color: black;
}

.hero-section-text > p:nth-child(2) {
  color: red;
}

.hero-section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-section-header > h1 {
  font-size: clamp(3rem,7.5vw,8rem);
  font-weight: 800;
}

.hero-section-header-shadow > h1 {
  font-size: clamp(3rem,7.5vw,8rem);;
  font-weight: 800;
  opacity: 0.18;
  transform: scaleY(-1);
}

.hero-section-btn {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   justify-content: center;
   box-sizing: border-box;
}

.hero-section-btn > button {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  border-width: 0;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #031D34;
  box-sizing: border-box;
}

.hero-section-btn > button:hover {
  background-color: #555555;
}

#home-section-git:hover {
  background-color: #555555;
}

.hero-section-btn > button:active{
  background-color: rgba(3, 29, 52, 0.28);
  color: black;
}

#home-section-git{
  background-color: rgba(3, 29, 52, 0.28);
  color: black;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  border-width: 0;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
}

#home-section-git:active{
  background-color: #2B2B2B;
  color: white;
}

.hero-section-right-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:1rem;
}

.hero-section-vid-column {
  width: fit-content;
  height: 19.6vh;
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:1rem;
  box-sizing: border-box;
}

.hero-section-vid-column:nth-child(2) {
  gap:1.7rem;
}

.hero-section-vid-column:nth-child(3) {
  gap:1.7rem;
}

.hero-section-vid-container > video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform .5s;
}

.hero-section-vid-container > video:hover{
  transform: scale(1.5);
}

.container-vid-big {
  height: 100%;
  width: clamp(24rem, 27vw, 30rem);
}

.container-vid-small {
  height: 100%;
  width: clamp(9rem,12vw,15rem);
}

.hero-section-btn-mobile{
  display: none;
}

@media screen and (max-width: 1000px) {

  .hero-section-container {
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-section-text {
    margin-top: 1rem;
    justify-content: center;
  }
  
  .hero-section-text > p{
    font-size:clamp(.5rem, 1.2vw, 2rem);
    letter-spacing: 4px;
  }

  .hero-section-btn {
    display: none;
  }

  .hero-section-right-container{
    align-items: center;
    justify-content: start;
  }

  .hero-section-vid-column {
    height: 10.6vh;
    gap:5px;
  }

  .hero-section-vid-column:nth-child(2) {
    gap:15px;
  }
  
  .hero-section-vid-column:nth-child(3) {
    gap:15px;
  }

  .container-vid-big {
    height: 100%;
    width: clamp(14rem, 27vw, 30rem);
  }
  
  .container-vid-small {
    height: 100%;
    width: clamp(6rem,12vw,15rem);
  }

  .hero-section-btn-mobile {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
      box-sizing: border-box;
  }
 
  .hero-section-btn-mobile> button {
    width: 6rem;
    height: 2.3rem;
    border-radius: 5px;
    border-width: 0;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: #031D34;
    box-sizing: border-box;
  }

  #home-section-git-mobile{
    background-color: rgba(3, 29, 52, 0.28);
    color: black;
    width: 6.2rem;
    height: 2.3rem;
    border-radius: 5px;
    border-width: 0;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
  }
}



/*HOME SECOND SECTION CSS*/ 
.home-second-section{
  width: 100%;
  background-color: #F0F0F5;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.home-second-seciton-txt > h1 {
  font-size: clamp(2rem,6.5vw,10rem);
  letter-spacing: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.home-second-seciton-shape {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-right:6rem ;
}

.home-second-seciton-shape > div {
  position: absolute;
  box-sizing: border-box;
  width: clamp(2rem,15vw,18rem);
  height: clamp(2rem,15vw,18rem);
  border: 2px solid rgba(0, 0, 0, 0.8);
  overflow: hidden; 
}

.home-second-seciton-shape > div:nth-child(1) {
  margin-bottom: 10rem;
  margin-right: 30rem;
  transform: rotate(10deg);
  animation: mymove 11s infinite;
}

.home-second-seciton-shape > div:nth-child(2) {
  margin-bottom: 0rem;
  margin-right: 12rem;
  transform: rotate(-20deg);
  animation: mymove 10s infinite;
  animation-delay: 0.5s;
}

.home-second-seciton-shape > div:nth-child(3) {
  margin-top: 10rem;
  margin-left: 9rem;
  transform: rotate(10deg);
  animation: mymove 12s infinite;
  animation-delay: 1s;
}

@keyframes mymove {
  40% {transform: rotate(180deg);}
}


@media screen and (max-width: 1000px) {
  .home-second-section{
    padding-top: 5rem;
  }

  .home-second-seciton-txt > h1 {
    letter-spacing: 10px;
  }

  .home-second-seciton-shape > div:nth-child(1) {
    margin-bottom: 10rem;
    margin-right: 10rem;
  }
  
  .home-second-seciton-shape > div:nth-child(2) {
    margin-bottom: 0rem;
    margin-right: 5rem;
  }
  
  .home-second-seciton-shape > div:nth-child(3) {
    margin-top: 10rem;
    margin-left: 1rem;
  }
}

/*HOME DIVISION SECTION CSS*/ 

.home-div-section{
  width: 100%;
  height: 100%;
  background-color: #F0F0F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.home-div-section-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.home-div-card-box > .card {
  width: clamp(15rem,18vw,22rem) !important;
}

.home-div-card-box {
  filter: drop-shadow(-2px 8px 7px rgba(0, 0, 0, 0.2));
}

.card-text {
  font-size:14px !important;
}

.card-box-anim {
  animation: WaveY 2s infinite;
}

@keyframes WaveY {
  40%{
       transform: translateY(10px);
  }
}

@media screen and (max-width: 1000px) {
  .home-div-section{
    padding-top: 1rem;
    padding-bottom: 10rem;
  }

  .home-div-section-container {
    flex-direction: column;
    gap: 2rem;
  }

  .card-text {
    font-size:12px !important;
  }
  .card-box-anim {
    animation: none;
  }
}


/*HOME PARTNERS SECTION CSS*/ 
.home-part-section {
  width: 100%;
  height: 100%;
  padding: 5rem 0 10rem 0;
  background-color: #F0F0F5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

.home-part-section > h1{
  font-size:20px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.home-part-section-content{
   display: inline-block;
   overflow: hidden;
   white-space: nowrap;
   width: fit-content;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: white;
}

.home-part-section-container {
  display: inline-block;
  animation: slide 10s infinite linear;
}

.home-part-section-container > img {
  width: clamp(5rem,12vw,15rem);
  margin: 0 50px;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


@media screen and (max-width: 1000px) {
  .home-part-section {
    padding: 2rem 0 10rem 0;
  }
  .home-part-section-container > img {
    width: clamp(5rem,12vw,15rem);
    margin: 0 20px;
  }
}



/*FOOTER SECTION CSS*/ 
.footer-section {
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
  color: white;
  padding-top: 5rem;
  overflow: hidden;
  padding-bottom: 5rem;
}

.footer-section-git {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-section-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.footer-section-header > h1 {
   font-weight: 700;
   font-size: 3rem;
}

.footer-section-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-section-text > p{
   font-size: medium;
   display: flex;
   margin: 0;
   padding: 0;
   text-align: center;
   align-items: center;
   gap: 7px;
}

.footer-section-icon{
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  gap: 1.2rem;
}


.footer-section-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  gap: 10px;
}

.footer-section-contact-column > input {
  border-width: 0;
  width: 30.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

.footer-section-contact-column:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap:10px;
}

.footer-section-contact-column:nth-child(1) > input{
  width: 15rem;
}

.footer-section-contact-column > textarea {
  border-width: 0;
  width: 30.5rem;
  border-radius: 5px;
  height: 5rem;
}

.footer-section-contact-column > button {
  border-width: 0;
  width: 30.5rem;
  height: 2.5rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  background-color: white;
}

.footer-bottom-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #2B2B2B;
}

.footer-line {
  width: 96%;
  height: 1px;
  background-color: white;
}

.footer-bottom-content {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 12px;
  width: 94%;
}

.footer-bottom-content > div:nth-child(1) {
  display: flex;
  width: 100%;
  text-align: start;
}

.footer-bottom-content > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3rem;
  text-align: end;
  justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
  .footer-section-content{
    flex-direction: column;
    gap: 1rem;
  }

  .footer-section-git {
    gap: 10px;
  }

  .footer-section-header > h1 {
    font-size: 1.8rem;
  }
  
  .footer-section-text {
    gap: 20px;
  }
  
  .footer-section-text > p{
      font-size: 12px;
  }

  .footer-section-contact-column > input {
    border-width: 0;
    width: 20.5rem;
    height: 2.5rem;
    border-radius: 5px;
  }

  .footer-section-contact-column:nth-child(1) > input{
    width: 10rem;
  }

  .footer-section-contact-column > textarea {
    width: 20.5rem;

  }
  .footer-section-contact-column > button {
    width: 20.5rem;
    font-size: 15px;
  }

  .footer-bottom-content {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 7px;
    width: 92%;
  }
  .footer-bottom-content > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    text-align: end;
    justify-content: flex-end;
  }
}
